@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  background-color: #ffd1c0;
}

.scroll-hidden {
  scrollbar-width: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.border-separate {
  border-spacing: 8px;
}
